* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 5%, 7%);
    font-size: clamp(40%, 1% + 2vw, 62.5%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
    --button-secondary: hsl(var(--hue), 40%, 98%);
}

html.light {
    --bg-color: hsl(var(--hue), 40%, 98%);
    --text-color: hsl(var(--hue), 5%, 7%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body #app {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.flex {
    display: flex;
}

body #app #toggle-mode {
    top: 3.2rem;
    right: 3.2rem;
    line-height: 0;
    font-size: 3.2rem;
    position: absolute;
    color: var(--text-color);
}

.sr-only {
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    appearance: none;
    position: absolute;
}

body #app #left {
    display: flex;
    align-items: center;
    margin-right: 9.5rem;
    flex-direction: column;
    justify-content: space-around;
}

body #app #right {
    display: grid;
    width: 30.8rem;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 15rem 15rem;
}

body #app #right button {
    width: 13.8rem;
    margin: 1.6rem;
    height: 15.2rem;
    color: #323238;
    border-radius: 2rem;
    transition: all .3s;
    background-color: #E1E1E6;
}

body #app #right button:hover {
    color: #E1E1E6;
    background-color: #02799D;
}

body #app #right button.active {
    color: #E1E1E6;
    background-color: #02799D;
}

body #app #left #timer {
    font-size: 9.6rem;
    font-weight: bold;
    font-family: sans-serif;
}

body #app #left #controls {
    gap: 1.6rem;
    margin-top: 1.6rem;
    padding: 2.2rem 4rem;
    border-radius: 999rem;
    background-color: var(--controls-bg-color);
}

button {
    border: 0;
    cursor: pointer;
    font-size: 6.4rem;
    color: var(--primary-color);
    background-color: transparent;
}

.secondary {
    color: var(--button-secondary);
}

.running .ph-timer,
.running .ph-play-circle,
.music-on .ph-speaker-none,
html:not(.running) .ph-stop-circle,
html:not(.running) .ph-pause-circle,
html:not(.music-on) .ph-speaker-high {
    display: none;
}